@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #2f3e46;
  --secondary-color: #354f52;
  --green-color: #52796f;
  --light-green: #84A98C;
  --light-beige: #CAD2C5;
  --danger: #e5383b;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--light-beige);
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}

main {
  width: 100%;
}

li,
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.homeSections {
  margin: 4rem;
  text-align: center;
  letter-spacing: 1px;
}

.homeSections h1 {
  padding: 1rem 0;
  letter-spacing: 1.8px;
}

.homeSections p {
  font-size: 1.2rem;
  padding: .3rem 0;
}

.homeSections a {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: var(--green-color);
}

/* tasks styles */
.task-con {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.task {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--light-beige);
  border-radius: 5px;
}

.task>* {
  margin: .5rem 0;
}

.low {
  color: skyblue;
  background-color: skyblue;
}

.medium {
  color: orange;
  background-color: orange;
}

.heigh {
  color: var(--danger);
  background-color: var(--danger);
}

@media screen and (max-width:786px) {
  .homeSections {
    margin: 2rem;
    font-size: .8rem;
  }
}