@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #2f3e46;
  --secondary-color: #354f52;
  --green-color: #52796f;
  --light-green: #84a98c;
  --light-beige: #cad2c5;
  --danger: #d6191c;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--light-beige);
  height: 100vh;
  background-image: url("https://check-todo-app-eyadalsaba.vercel.app/public/floating-cogs.svg");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}

main {
  width: 100%;
  margin-top: 3rem;
}

li,
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.homeSections {
  margin: 4rem;
  text-align: center;
  letter-spacing: 1px;
}

.homeSections h1 {
  padding: 1rem 0;
  letter-spacing: 1.8px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.homeSections p {
  font-size: 1.2rem;
  padding: 0.3rem 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.homeSections a {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: var(--green-color);
  background-color: var(--light-beige);
  border-radius: 4px;
  padding: 0.4rem;
  transition: 0.3s linear;
}

.homeSections a:hover {
  background-color: var(--green-color);
  color: var(--light-beige);
  transition: 0.3s linear;
}

@media (min-width: 1200px) {
  main {
    width: 75vw;
    margin: 3rem auto 0 auto;
  }
}

@media screen and (max-width: 786px) {
  .homeSections {
    margin: 2rem;
    font-size: 0.8rem;
  }
}
