.section {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 33.33vw);
  grid-row-gap: 4rem;
  justify-items: center;
  align-items: center;
}

.div {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid var(--light-beige);
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 var(--green-color), 0 0 4px 0 var(--light-green);
  transition: .3s;
}

.listTitle {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 60px;
  font-weight: bold;
}

.plus {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  transition: .3s;
}

.div:hover,
.plus:hover {
  color: var(--light-green);
  transform: scale(1.1, 1.1);
  border-color: var(--green-color);
}

.delForm {
  position: relative;
  height: 3rem;
  width: fit-content;
  padding: .8rem;
}

.delBtn {
  position: absolute;
  top: 4.5em;
  left: 4.5em;
  color: var(--danger);
  font-size: 1.5rem;
  transition: .3s;
}

.delBtn:hover {
  transform: translateY(-5px);
  transition: .3s;
}

/* ---------------------------------------- modal style */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  border-radius: 5px;
  background-color: var(--light-green);
  color: inherit;
  margin: auto;
  padding: 2rem 1rem;
  width: 35%;
  box-shadow: 0 4px 8px 0 var(--green-color), 0 0 8px 0 var(--light-green);
}

.formContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
}

.formContent input {
  border: none;
  border-radius: 5px;
  padding: .4rem;
}

.formContent input[name='list_title'] {
  width: 70%;
}

.formContent input:focus-visible {
  outline: none;
}

.formBtn {
  border: 1px solid var(--light-beige);
  border-radius: 5px;
  padding: .4rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  transition: .5s;
}

.formBtn:hover {
  border-color: var(--green-color);
  color: var(--green-color);
  transition: .5s;
}

.formContent label {
  margin: 0 .2rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.errMsg {
  text-align: center;
  margin: 1rem 0 0 0;
  color: var(--danger);
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media (max-width:992px) {
  .modal {
    padding-top: 35%;
  }

  .modalContent {
    width: 50%;
  }

  .formContent input[name='list_title'] {
    width: 50%;
  }
}

@media (max-width: 786px) {
  .section {
    grid-template-columns: repeat(2, 50vw);
  }

  .div {
    width: 40vw;
    height: 100px;
    border: 1px solid var(--light-beige);
    font-size: 1rem;
  }

  .listTitle {
    padding-top: 35px;
  }

  .plus {
    font-size: 1.3rem;
  }

  .div:hover,
  .plus:hover {
    transform: none;
  }

  .delBtn {
    top: 2.8em;
    left: 5em;
  }

  /* modal style */
  .modal {
    padding-top: 75%;
  }

  .modalContent {
    height: 40%;
    width: 80%;
  }

  .formContent {
    flex-direction: column;
    align-items: flex-start;
    height: 100%
  }

  .formContent input[name='list_title'] {
    width: 80%;
    margin: .5rem 0;
  }
}