.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
}

.name {
  text-transform: capitalize;
  margin: 1rem 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--light-beige);
  text-align: center;
}

.para {
  margin: 2rem;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
